#homeHover:hover{
    text-decoration: underline;
}
#academicHover:hover{
    text-decoration: underline;
}
#skillsHover:hover{
    text-decoration: underline;
}
#projectsHover:hover{
    text-decoration:  underline ;

}
#contactHover:hover{
    text-decoration: underline  ;

}
#cv:hover{
    /* scale: 1.1;
    transition: 0.4s;
    box-shadow:   0px 5px 10px white; */
    /* border: 2px solid white; */
    scale: 1.1;
    transition: 0.5s;
    background-color: black;
    border: 2px solid white;
    color: white;

}
#learnMore1:hover{
    scale: 1.2;
    transition: 0.5s;
    background-color: black;
    border: 2px solid white;
}
#learnMore2:hover{
    scale: 1.2;
    transition: 0.5s;
    background-color: black;
    border: 2px solid white;
}
#letsTalkHover:hover{
    scale: 1.2;
    transition: 0.8s;
    border: 2px solid white;
}




/* skills */
#html:hover{
    scale: 1.3;
    transition: 0.1s;
}
#css:hover{
    scale: 1.3;
    transition: 0.1s;
}
#js:hover{
    scale: 1.3;
    transition: 0.1s;
}
#java:hover{
    scale: 1.3;
    transition: 0.1s;
}
#py:hover{
    scale: 1.3;
    transition: 0.1s;
}
#c:hover{
    scale: 1.3;
    transition: 0.1s;
}
#cpp:hover{
    scale: 1.3;
    transition: 0.1s;
    
}
#py:hover{
    scale: 1.3;
    transition: 0.1s;
    
}
#sp:hover{
    scale: 1.3;
    transition: 0.1s;
    
}
#re:hover{
    scale: 1.3;
    transition: 0.1s;

}
#bs:hover{
    scale: 1.3;
    transition: 0.1s;
    
}
#hb:hover{
    scale: 1.3;
    transition: 0.1s;
    
}
#mysql:hover{
    scale: 1.3;
    transition: 0.1s;
    
}
#oracle:hover{
    scale: 1.3;
    transition: 0.1s;
    
}
#psql:hover{
    scale: 1.3;
    transition: 0.1s;
    
}
#tom:hover{
    scale: 1.3;
    transition: 0.1s;
    
}
#ps:hover{
    scale: 1.3;
    transition: 0.1s;
    
}
#pr:hover{
    scale: 1.3;
    transition: 0.1s;
    
}
#ae:hover{
    scale: 1.3;
    transition: 0.1s;
    
}




/* projects

*/


#projectImage1:hover{
    scale: 1.1;
    transition: 0.8s;
    border: 2px solid white;
    border-radius: 5px;


    
}
#projectImage2:hover{
    scale: 1.1;
    transition: 0.8s;
    border: 4px solid white;
    border-radius: 5px ;

}


/* contact */
#callHover:hover{
    text-decoration: underline;
}
#mailHover:hover{
    text-decoration: underline;
}
#inHover:hover{
    text-decoration: underline;
}
#igHover:hover{
    text-decoration: underline;
}
#locHover:hover{
    text-decoration: underline;
}
